body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
    flex-direction: column;
    font-family: Arial, sans-serif;
}
.mazeContainer {
    display: grid; /* Enables Grid layout */
    grid-template-columns: repeat(2, 1fr); /* Creates 3 equal-width columns */
    gap: 10px; /* Adds space between the divs */
    margin: 20px;
    padding: 15px;
    border-radius: 5px;
    border-color: #0011ff;
  }
.panel{
    flex-direction: column;
    background-color: aquamarine;
    padding: 10px;
    border: 2px solid;
    border-color: blueviolet;
}
#grid {
    display: grid;
    /* background-color: aquamarine; */
    grid-template-columns: repeat(10, 64px);
    grid-template-rows: repeat(10, 64px);
    background-color: #0011ff;
    border-radius: 5px;
    border: 5px solid green;
    gap: 5px;
}
#cell {
    width: 64px;
    height: 64px;
    background-color: #f0f0f0;
    border: 1px solid #0011ff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cell0 {
    background-color: white;
}
.cell1 {
    background-color: black;
}
.cell2 {
    background-color: yellow;
    background-size: 64px 64px;
    background-image: url('./images/rocket.png');
}
.cell3 {
    background-color: green;
}
.cell4 {
    background-color: red;
}
.cell5 {
    background-color: brown;
    background-image: url('./images/astronaut.png');
}
.cell6 {
    background-color: pink;
    background-size: 64px 64px;
    background-image: url('./images/pizza.png');
}
.cell7 {
    background-color: yellowgreen;
    background-image: url('./images/astronaut-riding-rocket.png');
}
.cell8 {
    background-color: purple;
}
.wallCell{
    width: 64px;
    height: 64px;
    background-color: #000000;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.robot {
    background-color: #ff5733;
}

.invisible{
    /* color:white; */
    background-color: #ff5733;
}