  
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px;
    flex-direction: column;
    font-family: Arial, sans-serif;
    overflow: auto;
    font-size: 20px;
}
h1{
    padding: 10px;
}

button{
    padding: 20px;
    border-radius: 5px;
}
.mazeContainer {
    display: grid; /* Enables Grid layout */
    grid-template-columns: repeat(2, 1fr); /* Creates 3 equal-width columns */
    gap: 10px; /* Adds space between the divs */
    /* margin: 20px; */
    /* padding: 15px; */
    border-radius: 5px;
    border-color: #0011ff;
  }
.panel{
    flex-direction: column;
    background-color: aquamarine;
    padding: 10px;
    border: 2px solid;
    border-color: blueviolet;
    margin:2px;
}
#grid {
    display: grid;
    /* background-color: aquamarine; */
    grid-template-columns: repeat(8, 64px);
    grid-template-rows: repeat(8, 64px);
    background-color: aqua;
    border-radius: 5px;
    border: 5px solid green;
    gap: 5px;
}
#cell {
    width: 64px;
    height: 64px;
    background-color: #f0f0f0;
    border: 1px solid #0011ff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cell0 {
    background-color: white;
}
.cell1 {
    background-color: gray;
}
.cell2 {
    background-color: green;
    background-size: 64px 64px;
}
.cell3 {
    font-size: x-large;
    color: black;
    background-image: url('./images/rocket.png');
    background-color: blue;
}
.cell4 {
    font-size: x-large;
    color: black;
    background-image: url('./images/astronaut.png');
    background-color: red;
}
.cell8 {
    background-color: purple;
}
.wallCell{
    width: 64px;
    height: 64px;
    background-color: #000000;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.robot {
    background-color: #ff5733;
}

.invisible{
    /* width: 100%; */
    display: inline-block;
    padding: 4px;
    margin: 2px;
    background-color: #ff5733;
}

table {
    width: 50%;
    border-collapse: collapse;
    background-color: aquamarine;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}